@model BookCreateViewModel

<form asp-action="BookCreate" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Создать книгу</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.Book.BookId)
        <div class="form-group">
            <label asp-for="Book.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Обложка книги</label>
            <div class="col-md-10">
                <label class="btn btn-primary" for="file-selector">
                    <input id="file-selector" name="uploadedFile" type="file" class="hidden" onchange="$('#upload-file-info').html(this.files[0].name);">
                    Выбрать файл
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Book.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Book.Description" class="form-control" /></textarea>
                <span asp-validation-for="Book.Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Категория</label>
            <div class="col-md-10">
                <select asp-for="Book.CategoryId" asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))" class="form-control"></select>
                <span asp-validation-for="Book.Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
