<div ng-controller="bookCategoriesController">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Категории
                </th>
                <th>Удалить?</th>
            </tr>
        </thead>
        <tbody>
                <tr ng-repeat="category in categories" class="tr-row">
                    <td>
                        <input ng-model="category.categoryId" hidden />
                        <input ng-model="category.isRemoved" hidden />
                        <input ng-model="category.name"/>
                    </td>
                    <td>
                        <input class="checkbox" type="checkbox" ng-model="category.isRemoved" />
                    </td>
                </tr>
        </tbody>
    </table>
    <input id="categoryInput" ng-model="newCategory" />
    <button id="categoryCreateBtn" class="btn btn-default btn-sm" ng-click="addCategory(newCategory)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить категорию
    </button>
    <hr />
    @*<div id="categoriesList">
            @await Component.InvokeAsync("CategoriesList")
        </div>
        @await Component.InvokeAsync("CategoryEditor")*@

    @section Scripts{
        <script src="~/js/bookCategoriesController.js"></script>
    }
    <div>
        <button ng-click="saveCategories()">Сохранить</button>
    </div>
</div>

