<div id="bookCategories" class="hidden col-md-8 col-md-offset-2" ng-controller="bookCategoriesController">
    <table id="categoriesTable" class="table">
        <thead>
            <tr>
                <th>
                    Категории
                </th>
                <th>Удалить?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories" class="tr-row">
                <td>
                    <input ng-model="category.categoryId" hidden />
                    <input ng-model="category.isRemoved" hidden />
                    <input class="form-control" ng-model="category.name" />
                </td>
                <td class="text-center checkbox">
                    <input type="checkbox" ng-model="category.isRemoved" />
                    <label></label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-8 row">
                        <input class="form-control col-md-6" id="categoryInput" ng-model="newCategory" />
                    </div>
                    <div class="col-md-4">
                        <button id="categoryCreateBtn" class="btn btn-primary btn-md" ng-click="addCategory(newCategory)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить категорию
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <button ng-click="saveCategories()" class="btn btn-success btn-md">
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>Сохранить изменения
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/bookCategoriesController.js"></script>
}

