@model Secret
    <form asp-action="Index">
        <p>Пожалуйста, введите секретный код, чтобы подтвердить то, что ваш пользователь должен получить права администратора</p>
        <hr />
        <input asp-for="secretCode" placeholder="секретный код" />
        <hr />
        <input value="Получить доступ администратора" type="submit" />
    </form>
