@model IEnumerable<BookCategory>

<div class="col-md-3">
    <ul id="booksCategories" class="list-group">
        <li class="list-group-item active">Все</li>
        @foreach (var category in Model)
        {
            <li class="list-group-item">@category.Name</li>
        }
    </ul>
</div>
<div id="booksListView" class="col-md-9">
    @await Component.InvokeAsync("BooksList")
</div>

@section Scripts{
    <script>

        var listGroupItemsSelect = "#booksCategories .list-group-item";

        $(listGroupItemsSelect).click(function () {
            $(listGroupItemsSelect).removeClass('active');
            $(this).addClass('active');
            $.get("/Books/GetUpdatedViewComponent?categoryName=" + this.textContent, function (data) {
                $("#booksListView").html(data);
            })
        });
    </script>
}
