@model IEnumerable<Book>

@foreach (var item in Model)
{
    <div style="height:150px; float:left; margin:10px 0; padding:0;" class="col-md-12">
        <div style="background-color:#f7f7f7; margin:0 10px; height:inherit; position:relative; border:1px solid grey" class="novelty-inner">
            <img class="book-list-item-image" src="~/images/books/@(item.BookId + item.ImageExtension)" />
            <p class="margin-top-10">@Html.DisplayFor(modelItem => item.Name)</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId" class="book-details-link">
                Подробнее
            </a>
        </div>
    </div>
}